@font-face {
  font-family: LeagueSpartan_Black;
  src: url("../../assets/fonts/LeagueSpartan-Black.ttf");
}
@font-face {
  font-family: LeagueSpartan_Bold;
  src: url("../../assets/fonts/LeagueSpartan-Bold.ttf");
}
@font-face {
  font-family: LeagueSpartan_ExtraBold;
  src: url("../../assets/fonts/LeagueSpartan-ExtraBold.ttf");
}
@font-face {
  font-family: LeagueSpartan_Regular;
  src: url("../../assets/fonts/LeagueSpartan-Regular.ttf");
}
@font-face {
  font-family: LeagueSpartan_ExtraLight;
  src: url("../../assets/fonts/LeagueSpartan-ExtraLight.ttf");
}
@font-face {
  font-family: LeagueSpartan_Light;
  src: url("../../assets/fonts/LeagueSpartan-Light.ttf");
}
@font-face {
  font-family: LeagueSpartan_Thin;
  src: url("../../assets/fonts/LeagueSpartan-Thin.ttf");
}
@font-face {
  font-family: LeagueSpartan_Medium;
  src: url("../../assets/fonts/LeagueSpartan-Medium.ttf");
}
