// FONTS

:root {
  --LeagueSpartan_Medium: LeagueSpartan_Medium;
  --LeagueSpartan_Bold: LeagueSpartan_Bold;
  --LeagueSpartan_ExtraBold: LeagueSpartan_ExtraBold;
  --LeagueSpartan_Regular: LeagueSpartan_Regular;
  --LeagueSpartan_Thin: LeagueSpartan_Thin;
  --LeagueSpartan_Light: LeagueSpartan_Light;
  --LeagueSpartan_ExtraLight: LeagueSpartan_ExtraLight;
  --LeagueSpartan_Medium: LeagueSpartan_Medium;
}
